<?xml version="2.21" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="2.21">
<dict>
    <key>method</key>
    <string>ad-hoc</string> <!-- Change to "development" or "app-store" if needed -->
    <key>signingStyle</key>
    <string>manual</string>
</dict>
</plist>
